# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from tokenz import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [4]:
# symbol = 'AAPL'
# api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
# data = requests.get(api_url).json()
# data

symbol='aapl'
url = f'https://api.iex.cloud/v1/data/core/quote/{symbol}?token={IEX_CLOUD_API_TOKEN}'
outer_data = requests.get(url).json()
outer_data

[{'avgTotalVolume': 65017399,
  'calculationPrice': 'close',
  'change': 1.15,
  'changePercent': 0.00617,
  'close': 187.43,
  'closeSource': 'official',
  'closeTime': 1715716800171,
  'companyName': 'Apple Inc',
  'currency': 'USD',
  'delayedPrice': 187.5,
  'delayedPriceTime': 1715716790020,
  'extendedChange': 0.02,
  'extendedChangePercent': 0.00011,
  'extendedPrice': 187.45,
  'extendedPriceTime': 1715731194225,
  'high': 188.3,
  'highSource': '15 minute delayed price',
  'highTime': 1715716799995,
  'iexAskPrice': 0,
  'iexAskSize': 0,
  'iexBidPrice': 0,
  'iexBidSize': 0,
  'iexClose': 187.38,
  'iexCloseTime': 1715716799982,
  'iexLastUpdated': 1715716799982,
  'iexMarketPercent': 0.011111601204719223,
  'iexOpen': 187.64,
  'iexOpenTime': 1715693400488,
  'iexRealtimePrice': 187.38,
  'iexRealtimeSize': 200,
  'iexVolume': 582177,
  'lastTradeTime': 1715716799983,
  'latestPrice': 187.43,
  'latestSource': 'Close',
  'latestTime': 'May 14, 2024',
  'latestUpdate': 1715716800171,
  'latestVolume': 52393619,
  'low': 186.29,
  'lowSource': '15 minute delayed price',
  'lowTime': 1715697637949,
  'marketCap': 2874066989260,
  'oddLotDelayedPrice': 187.5,
  'oddLotDelayedPriceTime': 1715716790021,
  'open': 187.79,
  'openTime': 1715693400979,
  'openSource': 'official',
  'peRatio': 29.15,
  'previousClose': 186.28,
  'previousVolume': 72044809,
  'primaryExchange': 'NASDAQ',
  'symbol': 'AAPL',
  'volume': 52393619,
  'week52High': 198.57,
  'week52Low': 163.63,
  'ytdChange': -0.021189558980555086,
  'isUSMarketOpen': False}]

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [6]:
data = outer_data[0]
pe_ratio = data['peRatio']
pe_ratio

29.15

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [7]:
my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol in stocks['Ticker'][:5]:
    batch_api_call_url = f'https://api.iex.cloud/v1/data/core/quote/{symbol}?token={IEX_CLOUD_API_TOKEN}'
    # batch_api_call_url = f'https://api.iex.cloud/v1/data/core/QUOTE,ADVANCED_STATS/{symbol}?token={IEX_CLOUD_API_TOKEN}'
    outer_data = requests.get(batch_api_call_url).json()
    data = outer_data[0]
    new_row = pd.Series([symbol, 
                data['latestPrice'],
                data['peRatio'],
                'N/A'
                ], 
                index = my_columns)
    final_dataframe = pd.concat([final_dataframe, pd.DataFrame([new_row])], ignore_index=True)

C:\Users\Aryan\AppData\Local\Temp\ipykernel_24332\1615522078.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = pd.concat([final_dataframe, pd.DataFrame([new_row])], ignore_index=True)

In [8]:
final_dataframe

  Ticker   Price  Price-to-Earnings Ratio Number of Shares to Buy
0      A  151.28                    36.11                     N/A
1    AAL   15.19                    23.17                     N/A
2    AAP   75.64                   151.64                     N/A
3   AAPL  187.43                    29.15                     N/A
4   ABBV  161.59                    48.09                     N/A

In [5]:
# # Function sourced from 
# # https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
# def chunks(lst, n):
#     """Yield successive n-sized chunks from lst."""
#     for i in range(0, len(lst), n):
#         yield lst[i:i + n]   
        
# symbol_groups = list(chunks(stocks['Ticker'], 100))
# symbol_strings = []
# for i in range(0, len(symbol_groups)):
#     symbol_strings.append(','.join(symbol_groups[i]))
# #     print(symbol_strings[i])

# my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
# final_dataframe = pd.DataFrame(columns = my_columns)

# for symbol_string in symbol_strings:
# #     print(symbol_strings)
#     batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
#     data = requests.get(batch_api_call_url).json()
#     for symbol in symbol_string.split(','):
#         final_dataframe = final_dataframe.append(
#                                         pd.Series([symbol, 
#                                                    data[symbol]['quote']['latestPrice'],
#                                                    data[symbol]['quote']['peRatio'],
#                                                    'N/A'
#                                                    ], 
#                                                   index = my_columns), 
#                                         ignore_index = True)
        
    
# final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0        A   99.160                   46.39                     N/A
1      AAL   13.430                   -1.65                     N/A
2      AAP  156.890                    28.9                     N/A
3     AAPL  475.040                    34.8                     N/A
4     ABBV   95.770                   20.14                     N/A
..     ...      ...                     ...                     ...
500    YUM   93.960                    28.5                     N/A
501    ZBH  143.010                  723.05                     N/A
502   ZBRA  299.348                   31.74                     N/A
503   ZION   34.700                   13.44                     N/A
504    ZTS  163.740                    47.5                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [9]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:2]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)

In [10]:
final_dataframe

  Ticker   Price  Price-to-Earnings Ratio Number of Shares to Buy
0    AAL   15.19                    23.17                     N/A
1   AAPL  187.43                    29.15                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [11]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [12]:
portfolio_input()

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [13]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

  Ticker   Price  Price-to-Earnings Ratio Number of Shares to Buy
0    AAL   15.19                    23.17                      32
1   AAPL  187.43                    29.15                       2

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [11]:
# symbol = 'AAPL'
# batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
# data = requests.get(batch_api_call_url).json()

# # P/E Ratio
# pe_ratio = data[symbol]['quote']['peRatio']

# # P/B Ratio
# pb_ratio = data[symbol]['advanced-stats']['priceToBook']

# #P/S Ratio
# ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# # EV/EBITDA
# enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
# ebitda = data[symbol]['advanced-stats']['EBITDA']
# ev_to_ebitda = enterprise_value/ebitda

# # EV/GP
# gross_profit = data[symbol]['advanced-stats']['grossProfit']
# ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [15]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol in stocks['Ticker'][:5]:
    # batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    batch_api_call_url = f'https://api.iex.cloud/v1/data/core/QUOTE,ADVANCED_STATS/{symbol}?token={IEX_CLOUD_API_TOKEN}'

    outer_data = requests.get(batch_api_call_url).json()
    quote_data = outer_data[0]
    advanced_data = outer_data[1]
    # for symbol in symbol_string.split(','):
    enterprise_value = advanced_data['enterpriseValue']
    ebitda = advanced_data['EBITDA']
    gross_profit = advanced_data['grossProfit']
    
    try:
        ev_to_ebitda = enterprise_value/ebitda
    except TypeError:
        ev_to_ebitda = np.NaN
    
    try:
        ev_to_gross_profit = enterprise_value/gross_profit
    except TypeError:
        ev_to_gross_profit = np.NaN
        
    new_row = pd.Series([
                        symbol,
                        quote_data['latestPrice'],
                        'N/A',
                        advanced_data['peRatio'],
                        'N/A',
                        advanced_data['priceToBook'],
                        'N/A',
                        advanced_data['priceToSales'],
                        'N/A',
                        ev_to_ebitda,
                        'N/A',
                        ev_to_gross_profit,
                        'N/A',
                        'N/A'
                        ],
                        index = rv_columns)

    rv_dataframe = pd.concat([rv_dataframe, pd.DataFrame([new_row])], ignore_index=True)

C:\Users\Aryan\AppData\Local\Temp\ipykernel_24332\1072368523.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = pd.concat([rv_dataframe, pd.DataFrame([new_row])], ignore_index=True)

In [16]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,151.28,N/A,35.033858,N/A,7,N/A,6.4300,N/A,28.023411,N/A,12.954141,N/A,N/A
1,AAL,15.19,N/A,19.590858,N/A,-1.78,N/A,0.1842,N/A,6.093574,N/A,0.636187,N/A,N/A
2,AAP,75.64,N/A,150.953192,N/A,1.78,N/A,0.3977,N/A,13.714491,N/A,1.275888,N/A,N/A
3,AAPL,187.43,N/A,28.453643,N/A,38.5,N/A,7.4800,N/A,22.324270,N/A,16.634703,N/A,N/A
4,ABBV,161.59,N/A,47.857361,N/A,35.57,N/A,5.2300,N/A,15.449157,N/A,10.057000,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [17]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [18]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

C:\Users\Aryan\AppData\Local\Temp\ipykernel_24332\2238724823.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [19]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [20]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0    0.6
1    0.2
2    1.0
3    0.4
4    0.8
Name: PE Percentile, dtype: object
0    0.6
1    0.2
2    0.4
3    1.0
4    0.8
Name: PB Percentile, dtype: object
0    0.8
1    0.2
2    0.4
3    1.0
4    0.6
Name: PS Percentile, dtype: object
0    1.0
1    0.2
2    0.4
3    0.8
4    0.6
Name: EV/EBITDA Percentile, dtype: object
0    0.8
1    0.2
2    0.4
3    1.0
4    0.6
Name: EV/GP Percentile, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,151.28,N/A,35.033858,0.6,7,0.6,6.4300,0.8,28.023411,1.0,12.954141,0.8,N/A
1,AAL,15.19,N/A,19.590858,0.2,-1.78,0.2,0.1842,0.2,6.093574,0.2,0.636187,0.2,N/A
2,AAP,75.64,N/A,150.953192,1.0,1.78,0.4,0.3977,0.4,13.714491,0.4,1.275888,0.4,N/A
3,AAPL,187.43,N/A,28.453643,0.4,38.5,1.0,7.4800,1.0,22.324270,0.8,16.634703,1.0,N/A
4,ABBV,161.59,N/A,47.857361,0.8,35.57,0.8,5.2300,0.6,15.449157,0.6,10.057000,0.6,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [21]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,151.28,N/A,35.033858,0.6,7,0.6,6.4300,0.8,28.023411,1.0,12.954141,0.8,0.76
1,AAL,15.19,N/A,19.590858,0.2,-1.78,0.2,0.1842,0.2,6.093574,0.2,0.636187,0.2,0.2
2,AAP,75.64,N/A,150.953192,1.0,1.78,0.4,0.3977,0.4,13.714491,0.4,1.275888,0.4,0.52
3,AAPL,187.43,N/A,28.453643,0.4,38.5,1.0,7.4800,1.0,22.324270,0.8,16.634703,1.0,0.84
4,ABBV,161.59,N/A,47.857361,0.8,35.57,0.8,5.2300,0.6,15.449157,0.6,10.057000,0.6,0.68

## Selecting the 50 Best Value Stocks¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [22]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [23]:
portfolio_input()

In [25]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,AAL,15.19,13,19.590858,0.2,-1.78,0.2,0.1842,0.2,6.093574,0.2,0.636187,0.2,0.2
1,AAP,75.64,2,150.953192,1.0,1.78,0.4,0.3977,0.4,13.714491,0.4,1.275888,0.4,0.52
2,ABBV,161.59,1,47.857361,0.8,35.57,0.8,5.2300,0.6,15.449157,0.6,10.057000,0.6,0.68
3,A,151.28,1,35.033858,0.6,7,0.6,6.4300,0.8,28.023411,1.0,12.954141,0.8,0.76
4,AAPL,187.43,N/A,28.453643,0.4,38.5,1.0,7.4800,1.0,22.324270,0.8,16.634703,1.0,0.84

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [22]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [23]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [24]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [25]:
writer.save()